In [204]:
import os, glob
import pandas as pd
pwd = os.path.dirname(os.path.realpath('.'))
data_folder = pwd + '/Data'
data_2018 = data_folder + '/2018'

In [206]:
ls ../Data/2018/

2018_results/     annotation.xlsx   speed_for_chunks/

In [207]:
list_of_speed_files_2018 = glob.glob(data_2018+'/speed_for_chunks/*')
list_of_csv_files_2018 = glob.glob(data_2018+'/2018_results/*')
annotations = pd.read_excel(data_2018+'/annotation.xlsx')
len(list_of_csv_files_2018)

3217

In [208]:
#  filter unvalid files
annotations = annotations[annotations.is_valid == 'Y']

In [210]:
name_of_csv_files_2018 = [i.split('/')[-1].split('.')[0] for i in list_of_csv_files_2018]
valid_files = [i for i in annotations.filename]
cnt = 0
for i in valid_files:
    if i in name_of_csv_files_2018:
        cnt += 1
print(cnt)
assert cnt == len(valid_files), "Not all the files found!"

239

AssertionError: Not all the files found!

In [168]:
for i in name_of_csv_files_2018:
    for j in annotations.filename:
        if i == j:
            print(i)
            
        break

unit01_2018-09-26_20_38_20_1_2832

In [150]:
print(list_of_csv_files_2018[0]) #unit01_2018-10-03_19_27_36_2_5760
print(annotations.filename[0])   #unit01_2018-09-26_20_38_20_1_2832
"unit01_2018-10-03_19_27_36_2_5760" in name_of_csv_files_2018

/Users/saeedarabi/Desktop/experiment/github/University-of-Iowa/Data/2018/2018_results/unit01_2018-10-03_19_27_36_2_5760.csv
unit01_2018-09-26_20_38_20_1_2832

True

In [194]:
file = [i for i in list_of_csv_files_2018 if i.split('/')[-1].split('.')[0] == "unit01_2018-09-26_20_38_20_1_2832"][0]
df_raw_detection = pd.read_csv(file)
file = [i for i in list_of_speed_files_2018 if i.split('/')[-1].split('.')[0][:-6] == "unit01_2018-09-26_20_38_20_1_2832"][0]
df_raw_speed = pd.read_csv(file)

In [83]:
len(list_of_csv_files_2018)

3514

In [201]:
df_raw_speed

,ST01,41.558751667,-92.15673667,09/26/2018,20:39:54,26SEP2018:20:39:54,13.12,15.0982336,6.74950528,Unnamed: 9
0,ST01,41.559073,-92.156705,09/26/2018,20:39:59,26SEP2018:20:39:59,14.19,16.329568,7.299960,1
1,ST01,41.559443,-92.156742,09/26/2018,20:40:04,26SEP2018:20:40:04,14.58,16.778372,7.500594,1
2,ST01,41.559820,-92.156765,09/26/2018,20:40:09,26SEP2018:20:40:09,14.52,16.709326,7.469727,1
3,ST01,41.560205,-92.156802,09/26/2018,20:40:14,26SEP2018:20:40:14,15.68,18.044230,8.066482,1
4,ST01,41.560533,-92.156812,09/26/2018,20:40:19,26SEP2018:20:40:19,13.32,15.328390,6.852394,1
5,ST01,41.560942,-92.156770,09/26/2018,20:40:24,26SEP2018:20:40:24,14.05,16.168459,7.227938,1
6,ST01,41.561328,-92.156720,09/26/2018,20:40:29,26SEP2018:20:40:29,14.50,16.686310,7.459438,1
7,ST01,41.561670,-92.156683,09/26/2018,20:40:34,26SEP2018:20:40:34,11.77,13.544681,6.055006,1
8,ST01,41.561910,-92.156728,09/26/2018,20:40:39,26SEP2018:20:40:39,7.05,8.112999,3.626830,1
9,ST01,41.562052,-92.156822,09/26/2018,20:40:44,26SEP2018:20:40:44,3.94,4.534073,2.026909,1
10,ST01,41.562077,-92.156845,09/26/2018,20:40:49,26SEP2018:20:40:49,0.04,0.046031,0.020578,0

In [202]:
df_raw_detection

     frame_num  obj_ID  class_ID   H    L    T   W
0          224       1         0  23  231  434  42
1          308       2         0   9  447  475  12
2          309       2         0   7  447  475  12
3          310       3         0   7  447  477  12
4          317       4         0   7  447  475  12
..         ...     ...       ...  ..  ...  ...  ..
762       1325      32         0  41  633  414  51
763       1326      32         0  41  633  416  51
764       1327      32         0  39  633  416  51
765       1328      32         0  39  636  414  48
766       1416      33         0  21  909  410  30

[767 rows x 7 columns]

In [203]:
annotations[annotations.filename == "unit01_2018-09-26_20_38_20_1_2832"]

,filename,is_valid,Start time,End time,Type of vehicle,Type of road,Results
0,unit01_2018-09-26_20_38_20_1_2832,Y,203955.0,204048.0,SUV,PAVED,FE TURNS